<table class="table table-bordered table-hover">
    <thead class="table-light">
        <tr>
            <th>招聘企业</th>
            <th>职位</th>
            <th>工作地点</th>
            <th>工作年限</th>
            <th>学历要求</th>
            <th>更新时间</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        {% for job in jobs %}
        <tr>
            <td>{{ job.company }}</td>
            <td>{{ job.name }}</td>
            <td>{{ job.city }}</td>
            <td>{{ job.work_experience|default:"-" }}</td>
            <td>{{ job.education }}</td>
            <td>{{ job.updated_at }}</td>
            <td>
                 <a href="{% url 'job_edit' job.id %}" class="btn btn-sm btn-outline-primary" style="padding: 0.1rem 0.7rem; font-size: 0.85rem;">编辑</a>
                 <a href="{% url 'job_edit' job.id %}" class="btn btn-sm btn-outline-success" style="padding: 0.1rem 0.7rem; font-size: 0.85rem;">打分</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="7" class="text-center">没有找到匹配的简历</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% include "components/Pager.html" %}